<% layout('layout') %>
<h1>我的主頁</h1>
<h2>帳號：<%- data.uid %>暱稱：<%- data.uname %></h2>
<h2>正在做的事情：<%-todo%>件，已完成的事情：<%-done%>件</h2>
<button onclick="window.location.href='todoList'">正在做的事(To Do List)</button>
<button onclick="window.location.href='doneList'">已完成的事(Done List)</button>
<button onclick="window.location.href='../signin'">回上一頁</button>
